	
	<div class = "col l3 sm12" id="uneaten">
			{{#each burgers}}
			{{#unless devoured}}			
			<div>
				<p>{{this.burger_name}}</p>
			</div>
			<div class= "row burgertop">
				<div class = "col s12">
				</div>
  		</div>
			<div class = "burgermid row">
				<div class ="col s12">
				</div>
			</div>
			<div class = "burgerbot row">
				<div class = "col s12">
					<form method="POST" action="/eat/{{this.id}}?_method=PUT">
					<button type="submit">Eat Me.</button>
					</form>
				</div>
			</div>
			{{/unless}}
			{{/each}}
	</div>
	<div class = "col l6 s12" id="burgerform">
		<form action="/create/new" method="POST">
		<textarea type="text" name="burger"></textarea>
		<button type="submit">Submit</button>
		</form>
	</div>
	<div class = "col l3 sm12" id = "devouredburg">
			{{#each burgers}}
			{{#if devoured}}
			<div>
				<p>{{this.burger_name}}</p>
			</div>
			<div class= "row burgertop">
				<div class = "col s12">
				</div>
  		</div>
			<div class = "burgermid row">
				<div class ="col s12">
				</div>
			</div>
			<div class = "burgerbot row">
				<div class = "col s12">
					<form method="POST" action="/make/{{this.id}}?_method=PUT">
					<button type="submit">Make another</button>
					</form>
				</div>
				<div class = "col s12">
					<form method="POST" action="/delete/{{this.id}}?_method=DELETE">
					<button type="submit">Delete</button>
					</form>
				</div>
			</div>
			{{/if}}
			{{/each}}
	</div>
